<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Care Project</title>
    <style>
        body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJoAB9geBpcy4d2FOl52VGcGl3Yv-2x6TzZQ&usqp=CAU');
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }

    </style>
</head>
<body>
    <h1> Hi {{data.firstname}}</h1>
    <h1>Terms and Condition : </h1>
    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo expedita, tempora nulla consequuntur deserunt quae numquam sequi possimus cum nihil totam eveniet iure. Consectetur nemo dolores quisquam dolore, itaque sit.</h5><br>
    <h5>If you agree then click the link for activation otherwise ignore</h5><br>
    <h5>{{data.message}}</h5>
</body>
</html>